.phoneContainer {
    display: inline-block!important;
    padding: 20px;
    margin-top: 20px;
}
.img {
    height: 100px;
}
.btn-danger {
    width: 200px;
    vertical-align:90px;
	transform:rotate(7deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg);
  margin-left: -80px; 
}

@media screen and (max-width: 800px) {
    .phoneContainer {
        padding: 0;
        display: block!important;
    }
    .btn-danger {
        width: 100%;
        vertical-align:0px;
	transform:rotate(0deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -moz-transform:rotate(0deg); /* Firefox */
  -webkit-transform:rotate(0deg); /* Safari and Chrome */
  -o-transform:rotate(0deg);
  margin-left: 0vh;
    }
  }